/*

scale: 4,8,12,16,24,32,48,64,96,128,256,384,512,640,768
Font sizes: 12,14,16,,18,20,24,32,48

Color: https://htmlcolorcodes.com/color-picker/
#FF3381
#FF4B33

#FFB133
#E7FF33

Font size•Font weight•Line height•Color•Margin•Padding•Width•Height•Box shadowsBorder radius•Border width•Opacity

bold: font-weight: 700; 
normal: font-weight: 400; 
dark: color: hsl(202, 57%, 15%);
grey: color: hsl(201, 23%, 24%); 

*/

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e4eaf2;
  font-family: "COCOMAT", sans-serif;
  font-weight: 400;
  color: hsl(201, 23%, 24%);
}

h1 {
  text-align: center;
  font-weight: 700;
  color: hsl(202, 57%, 15%);
}

h2 {
  margin-bottom: 0;
  margin-top: 0;
}

.box-with-side-image {
  display: flex;
  flex-direction: row;
  margin-bottom: 24px;
  justify-content: center;
}

input {
  background-color: #dfe6ee;
  flex: 1 1 auto;
  border-radius: 4px;
  padding: 2px 12px;
  line-height: 24px;
  min-width: 256px;
}

button {
  background-color: #ff3381;
  border-color: #ff4b33;
  color: white;
  padding: 12px;
  border-radius: 4px;
  margin-top: 16px;
  text-transform: uppercase;
}

label {
  /* color: #313841; */
  margin-top: 12px;
  margin-bottom: 4px;
}

.container {
  padding: 24px 12px;
  border-radius: 0 12px 12px 0;
  border: 2px solid hsl(210, 23%, 95%);
  border-left: none;
  background-color: white;
}

.form-group-col {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  margin-right: 24px;
  margin-left: 24px;
}

.form-group-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 4px;
}

.side-image {
  border-radius: 12px 0 0 12px;
  border: 2px solid hsl(210, 23%, 95%);
  border-right: none;
  padding: 12px 0 12px 12px;
  background-color: white;
}

@media (max-width: 800px) {
  .form-group-row {
    flex-direction: column;
  }
  .side-image {
    display: none;
  }
  .container {
    border-left: 2px solid hsl(210, 23%, 95%);
    border-radius: 12px 12px;
  }
}
