/*
Scale: 0,4,8,12,16,24,32,48,64,96,128,256,384,512,640,768
Font sizes: 12,14,16,18,20,24,30,36,48,60,72

https://colordesigner.io/gradient-generator
pinks: #ff3381, #ff6695, #ff8baa, #ffadc0, #ffccd6
*/

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #e4eaf2;
  font-family: "COCOMAT", sans-serif;
  font-weight: 400;
  color: hsl(201, 23%, 24%);
  font-size: 16px;
}

/* UTILITY START */

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-justify {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

.text-dark {
  color: hsl(202, 57%, 15%);
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.bg-gray-90 {
  background-color: #dfe6ee;
}

.bg-pink {
  background-color: #ff3381;
}

.b-pink-90 {
  border-color: #ff6695;
}

.lh5 {
  line-height: 24px;
}

.min-w11 {
  min-width: 256px;
}

.m0 {
  margin: 0;
}

.mx5 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt3 {
  margin-top: 12px;
}

.mt4 {
  margin-top: 16px;
}

.mb1 {
  margin-bottom: 4px;
}

.mb2 {
  margin-bottom: 8px;
}

.mb3 {
  margin-bottom: 12px;
}

.mb4 {
  margin-bottom: 16px;
}

.mb5 {
  margin-bottom: 24px;
}

.mb6 {
  margin-bottom: 32px;
}

.mb7 {
  margin-bottom: 48px;
}

.mb8 {
  margin-bottom: 64px;
}

.mb9 {
  margin-bottom: 96px;
}

.mb10 {
  margin-bottom: 128px;
}

.mb11 {
  margin-bottom: 256px;
}

.mr5 {
  margin-right: 24px;
}

.ml5 {
  margin-left: 24px;
}

.py1 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.py2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py5 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.px1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px4 {
  padding-left: 16px;
  padding-right: 16px;
}

.px5 {
  padding-left: 24px;
  padding-right: 24px;
}

.pt1 {
  padding-top: 4px;
}

.pt3 {
  padding-top: 12px;
}

.pt5 {
  padding-top: 24px;
}

.pb1 {
  padding-bottom: 4px;
}

.pb3 {
  padding-bottom: 12px;
}

.pb5 {
  padding-bottom: 24px;
}

.pr0 {
  padding-right: 0;
}

.pr3 {
  padding-right: 12px;
}

.pr4 {
  padding-right: 16px;
}

.pl3 {
  padding-left: 12px;
}

.pl4 {
  padding-left: 16px;
}

.rounded1 {
  border-radius: 4px;
}

/* UTILITY END */

.rounded-rb {
  border-radius: 0 12px 12px 0;
  border: 2px solid hsl(210, 23%, 95%);
  border-left: none;
}

.rounded-tl {
  border-radius: 12px 0 0 12px;
  border: 2px solid hsl(210, 23%, 95%);
  border-right: none;
}

@media (max-width: 800px) {
  .flex-row {
    flex-direction: column;
  }
  .rounded-tl {
    display: none;
  }
  .rounded-rb {
    border-left: 2px solid hsl(210, 23%, 95%);
    border-radius: 12px 12px;
  }
}
